
<!doctype html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png" >

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css">  
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="profile-pic" src="/img/robot.png" />
    </div>
    
    {{>footer}}
</body>
</html>
